.right,.left{
    width: 50%;
   

}
.right{
    float: right;
}
.left{
    float: left;
}
.userN{
    background-color: bisque;
    border:1px solid red

}
.classn{
    background-color:lavenderblush;

    
}
.btn-outline-primary {
    margin: 10px;
}